// Custom styles.
.post-body h2 {
	border-bottom: 1px solid #ddd;
    	padding-bottom: 0.3em;
}
.post-body h3 {
	background: #eee;
	border-radius: 8px;
	padding: 8px;
}
.post-body p a {
	color: #4183c4;
}
